@using PriceLists_Redactor.Models
@model PriceLists_Redactor.Models.ViewModels.PriceListAndColumnsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Добавить новый прайс-лист</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>
                @Html.EditorFor(model => model.PriceList.Name, new { htmlAttributes = new { @class = "form-control", id = "PriceListName" } })
                @Html.ValidationMessageFor(model => model.PriceList.Name, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
            <td>
                <button class="btn btn-default" id="addNewPriceListBtn" type="button">Добавить</button>
            </td>
        </tr>
    </table>

    <table class="table" align="center">
        <thead>
            <tr>
                <th>№ колонки</th>
                <th>Данные</th>
                <th>Тип данных</th>
            </tr>
        </thead>
        <tbody id="columnsTBody">
        </tbody>
    </table>
    <button class="btn btn-md btn-primary" id="addNewColumnBtn" type="button">Новая колонка</button>
}

<div>
    <br />
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var rowIndex = 0;
        $("#addNewColumnBtn").on('click',
            function () {
                $('#columnsTBody').append(`<tr id="R${++rowIndex}">
                            <td><p>Колонка №${rowIndex}</p></td>
                            <td><input type="text" class="headerText"></td>
                            <td>
                            <select class="dataTypeSelect">
                            <option value=0>Однострочный текст</option>
                            <option value=1>Многострочный текст</option>
                            <option value=2>Логическое значение</option>
                            <option value=3>Число</option>
                            </select>
                            </td>
                            <td><button class="btn btn-danger remove" type="button">Удалить</button></td>
                        </tr>`);
            });

        $('#columnsTBody').on('click',
            '.remove',
            function () {

                // Все элементы впереди текущей удаляемой строки
                var child = $(this).closest('tr').nextAll();

                // Проход по всем следующим строкам и изменение их id
                child.each(function () {

                    // Получение id <tr>
                    var id = $(this).attr('id');

                    // Получение ячейки с id
                    var index = $(this).children('.row-index').children('p');

                    // Извлечение id строки
                    var dig = parseInt(id.substring(1));

                    // Изменение ячейки номера строки
                    index.html(`Колонка №${dig - 1}`);

                    // Изменение id строки
                    $(this).attr('id', `R${dig - 1}`);
                });

                // Удаление текущей строки
                $(this).closest('tr').remove();

                rowIndex--;
            });
    </script>
    <script>
        $("#addNewPriceListBtn").on('click',
            function () {
                var columns = new Array();
                $("#columnsTBody TR").each(function () {
                    var currentRow = $(this);
                    var currentRowColumns = {};
                    currentRowColumns.HeaderText = currentRow.find(".headerText").val();
                    currentRowColumns.DataType = currentRow.find(".dataTypeSelect").val();
                    columns.push(currentRowColumns);
                });
                @Model.Columns = columns;

                @Model.PriceList.Name = $("#PriceListName").val();
                $.ajax({
                    type: "POST",
                    url: "/PriceLists/InsertPriceListAndColumns",
                    data: JSON.stringify(@Html.Raw(Json.Encode(Model))),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        alert("Успех");
                    }
                });
            });
    </script>
}
