@using PriceLists_Redactor.Models
@model PriceLists_Redactor.Models.ViewModels.PriceListViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PriceList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriceList.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceList.Name)
            @Html.ActionLink("Edit", "Edit", new { id = Model.PriceList.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </dd>
    </dl>
</div>

<div>
    <table>
        <tr>
            <th> Код товара </th>
            <th> Название товара</th>
            @foreach (Column column in Model.Columns)
            {
                <th>@column.HeaderText</th>
            }
        </tr>
        @foreach (Item item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
            </tr>
        }
    </table>
</div>
