@using PriceLists_Redactor.Models
@model PriceLists_Redactor.Models.ViewModels.PriceListAndItemsViewModel

@{
    ViewBag.Title = "Подробнее";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Прайс-лист:</dt>
        <dd>
            @Html.DisplayFor(model => model.PriceList.Name)
            @Html.ActionLink("Изменить", "Edit", new { id = Model.PriceList.Id }) |
            @Html.ActionLink("Вернуться", "Index")
        </dd>
    </dl>
</div>

<table id="priceListsDetailsTable">
    <thead>
        <tr>
            <th> Код товара </th>
            <th> Название товара</th>
            @foreach (Column column in Model.Columns)
            {
                <th>@column.HeaderText</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Item item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td><a href="#" class="name-data">@item.Title</a></td>
                @{
                    var itemCells = Model.Cells.Where(c => c.ItemId == item.Id);
                    int index = 0;
                    foreach (Cell cell in itemCells)
                    {
                        if (Model.Columns[index].DataType == DataType.Bool)
                        {
                            if (cell.Data == "1")
                            {
                                <td>Истина</td>
                            }
                            else
                            {
                                <td>Ложь</td>
                            }
                            index++;
                            continue;
                        }
                        <td><a href="#" class="cell-data">@cell.Data</a></td>
                        index++;
                    }
                }
            </tr>
        }
    </tbody>
</table>

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
        $.fn.editable.defaults.mode = 'inline';
        $(document).ready(function () {
            $('.cell-data').editable({
            });
        });
        $(document).ready(function () {
            $('.name-data').editable({
            });
        });

        $(".name-data").on('save',
            function (e, params) {
                alert(params.newValue);
            });

        $(".cell-data").on('save',
            function (e, params) {
                alert(params.newValue);
            });
    </script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#priceListsDetailsTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Russian.json"
                }
            });
        });
    </script>*
}
