@using Microsoft.Ajax.Utilities
@using PriceLists_Redactor.Models
@model PriceLists_Redactor.Models.ViewModels.PriceListAndItemsViewModel

@{
    ViewBag.Title = "Подробнее";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Прайс-лист:</dt>
        <dd>
            @Html.DisplayFor(model => model.PriceList.Name)
            @Html.ActionLink("Изменить", "Edit", new { id = Model.PriceList.Id }) |
            @Html.ActionLink("Вернуться", "Index")
        </dd>
    </dl>
</div>

<table id="priceListsDetailsTable">
    <thead>
        <tr>
            <th> Код товара </th>
            <th> Название товара</th>
            @foreach (Column column in Model.Columns)
            {
                <th>@column.HeaderText</th>
            }
        </tr>
    </thead>
    <tbody id="cellsTBody">
        @foreach (Item item in Model.Items)
        {
        <tr>
            <td id="itemId">@item.Id</td>
            <td><a href="#" class="cell-data title">@item.Title</a></td>
            @{
                var itemCells = Model.Cells.Where(c => c.ItemId == item.Id);
                int index = 0;
                foreach (Cell cell in itemCells)
                {
                    if (Model.Columns[index].DataType == DataType.SingleLine)
                    {
                        <td><a href="#" class="cell-data singleLine">@cell.Data</a></td>
                    }
                    if (Model.Columns[index].DataType == DataType.MultiLine)
                    {
                        <td><a href="#" class="cell-data multiLine">@cell.Data</a></td>
                    }
                    if (Model.Columns[index].DataType == DataType.Bool)
                    {
                        if (cell.Data == "1")
                        {
                            <td> <a href="#" class="cell-data bool" data-type="select" data-value="1">Истина</a> </td>
                        }
                        else
                        {
                            <td> <a href="#" class="cell-data bool" data-type="select" data-value="0">Ложь </a> </td>
                        }
                    }
                    if (Model.Columns[index].DataType == DataType.Numeric)
                    {
                        <td><a href="#" class="cell-data numeric">@cell.Data</a></td>
                    }
                    index++;
                }
            }
        </tr>
        }
    </tbody>
</table>

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
        var model = @Html.Raw(Json.Encode(Model));
        $.fn.editable.defaults.mode = 'inline';
        $(document).ready(function () {
            $('.title').editable({
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'Введите название товара';
                    }
                }
            });
            $('.singleLine').editable({
                tpl: '<textarea maxlength="20"></textarea>',
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'Заполните ячейку';
                    }
                }
            });
            $('.multiLine').editable({
                tpl: '<textarea maxlength="150"></textarea>',
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'Заполните ячейку';
                    }
                }
            });
            $('.bool').editable({
                source: [{ value: 0, text: 'Ложь' }, { value: 1, text: 'Истина' }]
            });
            $('.numeric').editable({
                tpl: '<textarea maxlength="10"></textarea>',
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'Заполните ячейку';
                    }
                    if ($.isNumeric(value) == '') {
                        return 'Введите число'
                    }
                }
            });
        });

        $(".title").on('save',
            function (e, params) {
                var itemTitle = params.newValue;
                var itemId = $(this).closest("tr").find("td:first").text();
                var data = JSON.stringify({itemId: itemId, newTitle: itemTitle});

                $.ajax({
                    type: "POST",
                    url: "/PriceLists/UpdateItemTitleJson",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                });
            });

        $(".cell-data").not(".title").on('save',
            function (e, params) {
                var itemId = $(this).closest("tr").find("td:first").text();
                var cellIndex = $(this).parent().index() - 2; // -2 из-за того, что первые две колонки id и название отсутствуют в Cell как свойства
                var input = params.newValue;

                var data = JSON.stringify({ itemId: itemId, cellIndex: cellIndex, data: input });
                $.ajax({
                    type: "POST",
                    url: "/PriceLists/UpdateCellJson",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                });
            });
    </script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#priceListsDetailsTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Russian.json"
                }
            });
        });
    </script>*
}
