@using PriceLists_Redactor.Models
@model PriceLists_Redactor.Models.ViewModels.PriceListAndColumnsViewModel

@{
    ViewBag.Title = "Изменить прайс-лист";
}

<h2>Изменение прайс-листа</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PriceList.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PriceList.Name, "Название", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceList.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceList.Name, "", new { @class = "text-danger" })
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Columns.Count(); i++)
            {
                <tr>
                    @switch (Model.Columns[i].DataType)
                    {
                        case DataType.SingleLine:
                            <td>Однострочный текст</td>
                            break;
                        case DataType.MultiLine:
                            <td>Многострочный текст</td>
                            break;
                        case DataType.Bool:
                            <td>Логическое значение</td>
                            break;
                        case DataType.Numeric:
                            <td>Число</td>
                            break;
                    }
                <td>
                    @Html.HiddenFor(m => m.Columns[i].Id)
                    @Html.HiddenFor(m => m.Columns[i].PriceListId)
                    @Html.EditorFor(m => m.Columns[i].HeaderText, new { htmlAttributes = new { @class = "form-control" } })
                </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.Columns[i].HeaderText, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
