@model IEnumerable<PriceLists_Redactor.Models.PriceList>

@{
    ViewBag.Title = "Редактор прайс-листов";
}

<h2>Прайс-листы</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

<table id="priceListsIndexTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var priceList in Model)
        {
            <tr>
                <td>@priceList.Id</td>
                <td>@priceList.Name</td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = priceList.Id }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = priceList.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = priceList.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#priceListsIndexTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Russian.json"
                }
            });
        });
    </script>
}