@model PriceLists_Redactor.Models.ViewModels.ItemAndCellsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Item.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Title, new { htmlAttributes = new { @class = "form-control", id = "itemName" } })
                @Html.ValidationMessageFor(model => model.Item.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item.PriceListId, "PriceListId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Item.PriceListId, ViewBag.PriceLists as SelectList, htmlAttributes: new { @class = "form-control", id = "priceListDropDown" })
                @Html.ValidationMessageFor(model => model.Item.PriceListId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="testValid" type="button" value="TEST VALID" />
                <input id="addNewItemWithCells" type="button" Value="Добавить" />
            </div>
        </div>

        <table id="cellsTable" class="table">
            <thead id="cellsTHead">
                <tr>
                </tr>
            </thead>
            <tbody id="cellsTBody">
            </tbody>
        </table>
    </div>
}

<div>
    <br />
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#priceListDropDown").on('change',
            function () {
                var data = $("#priceListDropDown").val();
                $.getJSON('GetColumnsOfAPriceList',
                    { priceListId: data },
                    function (result) {
                        var items = [];
                        $("#cellsTHead").empty();
                        $("#cellsTBody").empty();
                        $.each(result,
                            function (key, val) {
                                $("#cellsTHead").append('<th id="' + key + '">' + val.HeaderText + '</th>');
                                switch (val.DataType) {
                                    case 0: //singleLine
                                        $("#cellsTBody").append('<td><input class="data" type="text" maxlength="' +
                                            val.DataLength +
                                            '</td>"');
                                        break;
                                    case 1: //multiLine
                                        $("#cellsTBody").append('<td><input class="data" type="text" maxlength="' +
                                            val.DataLength +
                                            '</td>"');
                                        break;
                                    case 2: //bool
                                        $("#cellsTBody")
                                            .append(
                                                '<td><select class="data"> <option value=0>Ложь</option> <option value=1>Истина</option> </select></td>');
                                        break;
                                    case 3: //numeric
                                        $("#cellsTBody").append('<td><input class="data" type="number" maxlength="' +
                                            val.DataLength +
                                            '</td>"');
                                        break;
                                };
                            });
                    });
            });
    </script>
    <script>
        $("#addNewItemWithCells").on('click', function () {
            var item = {};
            item.PriceListId = ($("#priceListDropDown").val());
            item.Title = ($("#itemName").val());

            var cells = new Array();
            $("#cellsTBody td").each(function () {
                var data = $(this).find(".data").val();
                var cell = {};
                cell.Data = data;
                cells.push(cell);
            });

            var data = JSON.stringify({ item: item, cells: cells });
            $.ajax({
                type: "POST",
                url: "/Items/InsertItemAndCells",
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Успех");
                    window.location.href = data;
                }
            });
        })
    </script>
}
