@using PriceLists_Redactor.Models
@model PriceLists_Redactor.Models.ViewModels.ItemAndCellsViewModel

@{
    ViewBag.Title = "Изменить товар";
}

<h2>Изменение товара</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Item.Id, new { @id = "itemId" })

        <div class="form-group">
            @Html.LabelFor(model => model.Item.Title, "Название", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item.Title, new { htmlAttributes = new { @class = "form-control", id = "itemName" } })
                @Html.ValidationMessageFor(model => model.Item.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item.PriceListId, "Прайс-лист", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PriceListId", null, new { @class = "form-control", id = "priceListDropDown" })
                @Html.ValidationMessageFor(model => model.Item.PriceListId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="updateItemAndCells" type="button" value="Сохранить" class="btn btn-success" />
            </div>
        </div>

        <table>
            <thead id="cellsTHead">
            </thead>
            <tbody id="cellsTBody">
            </tbody>
        </table>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    var model = @Html.Raw(Json.Encode(Model)); // надо взять значение Model.Cells[X].Data и Id (Id для обновления)
    var newPriceList = false;
        $(document).ready(
            function() { // при первой загрузке важно сохранить исходные значения ячеек (Cell). Заполняется только cellsTHead
                var data = $("#priceListDropDown").val();
                $.getJSON('/Items/GetColumnsOfAPriceList',
                    { priceListId: data },
                    function(result) {
                        $("#cellsTHead").empty();
                        $("#cellsTBody").empty();
                        $.each(result,
                            function(key, val) {
                                $("#cellsTHead").append('<th id="' + key + '">' + val.HeaderText + '</th>');
                                switch (val.DataType) {
                                case 0: //singleLine
                                    $("#cellsTBody").append(
                                        `<td><input id="data${key}" type="text" class="form-control" maxlength=${val.DataLength} value="${model.Cells[key].Data}"> </td>`);
                                    break;
                                case 1: //multiLine
                                    $("#cellsTBody").append(
                                        `<td><input id="data${key}" type="text" class="form-control" maxlength=${val.DataLength} value="${model.Cells[key].Data}"> </td>`);
                                    break;
                                case 2: //bool
                                    $("#cellsTBody").append(
                                        `<td>
                                            <select id="data${key}" class="form-control" ><option value=0>Ложь</option> <option value=1>Истина</option> </select>
                                        </td>`);
                                    // установка изначального bool значения
                                    var element = document.getElementById(`data${key}`);
                                    element.value = model.Cells[key].Data;
                                    break;
                                case 3: //numeric
                                    $("#cellsTBody").append(
                                        `<td><input id="data${key}" type="number" class="form-control" maxlength=${val.DataLength} value="${model.Cells[key].Data}"> </td>`);
                                    break;
                                }
                            });
                    });
            });

        $("#priceListDropDown").on(
            'change', // изменили прайс-лист, следовательно старые ячейки неактуальны. Заполняются и cellsTHead и cellsTBody
            function () {
                newPriceList = true;
                var data = $("#priceListDropDown").val();
                $.getJSON('/Items/GetColumnsOfAPriceList',
                    { priceListId: data },
                    function(result) {
                        $("#cellsTHead").empty();
                        $("#cellsTBody").empty();
                        $.each(result,
                            function(key, val) {
                                $("#cellsTHead").append('<th id="' + key + '">' + val.HeaderText + '</th>');
                                switch (val.DataType) {
                                case 0: //singleLine
                                    $("#cellsTBody").append(
                                        `<td><input id="data${key}" type="text" class="form-control" maxlength=${val.DataLength}"> </td>`);
                                    break;
                                case 1: //multiLine
                                    $("#cellsTBody").append(
                                        `<td><input id="data${key}" type="text" class="form-control" maxlength=${val.DataLength}"> </td>`);
                                    break;
                                case 2: //bool
                                    $("#cellsTBody")
                                        .append(
                                            `<td>
                                            <select id="data${key}" class="form-control" ><option value=0>Ложь</option> <option value=1>Истина</option> </select>
                                        </td>`);
                                    break;
                                case 3: //numeric
                                    $("#cellsTBody").append(
                                        `<td><input id="data${key}" type="number" class="form-control" maxlength=${val.DataLength}"> </td>`);
                                    break;
                                };
                            });
                    });
            });

        // обновление товара с ячейками
        $("#updateItemAndCells").on('click',
            function () {
                var validated = true;

                if ($.trim($("#itemName").val()) == '') {
                    alert("Заполните поле названия");
                    validated = false;
                    return false;
                }

                $("#cellsTBody .form-control").each(function () {
                    if ($.trim($(this).val()) == '') {
                        alert("Заполните все ячейки");
                        validated = false;
                        return false;
                    }
                });

                if (validated) {
                    var item = {};
                    item.Id = ($("#itemId").val());
                    item.PriceListId = ($("#priceListDropDown").val());
                    item.Title = ($("#itemName").val());

                    var cells = new Array();
                    var i = 0; // нужно чтобы найти текущую ячейку в model.Cells и взять оттуда Id
                    $("#cellsTBody td").each(function() {
                        var data = $(this).find('[id^=data').val(); // id начинается с...
                        var cell = {};
                        if (!newPriceList) {cell.Id = model.Cells[i].Id;} // если новый прайс-лист, то id не нужно, т.к. новые ячейки добавляются а не обновляются
                        cell.ItemId = item.Id;
                        cell.Data = data;
                        cells.push(cell);
                        i++;
                    });
                    if (!newPriceList) { // прайс-лист не изменялся, только ячейки. Тогда ОБНОВЛЯЕМ и товар и ячейки
                        var data = JSON.stringify({ item: item, cells: cells });
                        $.ajax({
                            type: "POST",
                            url: "/Items/UpdateItemAndCellsJson",
                            data: data,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function(data) {
                                alert("Успех");
                                window.location.href = data;
                            }
                        });
                    } else { // изменили изначальный priceList, следовательно товар ОБНОВЛЯЕМ а ячейки ДОБАВЛЯЕМ, причем старые - удаляем
                        var data = JSON.stringify({ item: item, newCells: cells });
                        cells.forEach(function(cell) { delete cell.Id });// удаляем введенные раннее id, т.к. добавляем совершенно новые ячейки

                        $.ajax({
                            type: "POST",
                            url: "/Items/UpdateItemInsertCellsJson",
                            data: data,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                alert("Успех");
                                window.location.href = data;
                            }
                        });
                    }
                }
            });
</script>
}
