@model IEnumerable<PriceLists_Redactor.Models.Item>

@{
    ViewBag.Title = "Товары";
}

<h2>Товары</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table id="itemsTable" class="table">
    <thead>
        <tr>
            <th>Прайс-лист</th>
            <th>Название</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceList.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#itemsTable').DataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Russian.json"
                }
            });
        });
    </script>
}
